@import url(https://db.onlinewebfonts.com/c/f4d849075c9b4c0047fc56a828879854?family=Recoleta+Bold); 

/* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
body{
	font-family: 'TT Norms Pro';
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


/* sidebar csss  */

.main-area {
	display: flex;
	justify-content: space-between;
}

.sidebar-area {
	flex: 0 0 15%;
	height: 100vh;
  background: #363740;
}

.logo {
	text-align: center;
	margin-bottom: 10px;
}

.menu ul li a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #DDE2FF;
	padding: 18px 32px;
	display: block;
	border-left: 3px solid transparent;
	display: flex;
	gap: 15px;
}

.menu ul li a.active,
.menu ul li a:hover{ 
	background: #464646; 
	border-left: 3px solid #ddd;
}

.mt-custom {
	margin-top: 45px;
	border-top: 1px solid #4A4A4A;
}


/* main content css  */
/* header css  */

.main-content-area {
	flex: 0 0 85%;
	background: #F7F8FC;
	height: 100vh;
	padding: 30px;
	box-sizing: border-box;
	overflow-y: scroll;
	scrollbar-width: none;
} 

.header-title {
	display: flex;
	align-items: center;
	gap: 15px;
}
.sidebar_close,
.bars_icon{
	display: none;
}
.bars_icon i {
	color: #252733;
	font-size: 22px;
}

.sidebar_close i{
	position: absolute;
	right: -35px;
	width: 35px;
	height: 35px;
	background: #363740;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	top: 0; 
}

.header-area {
	display: flex;
	justify-content: space-between; 
  align-items: center;
}

.header-title h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: #252733;
}

.header-user {
	display: flex;
	align-items: center;
}

.header-user > ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

.mr-border {
	margin-right: 15px;
	border-right: 1px solid #ddd;
	padding-right: 15px;
}

.header-user-img a {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #252733;
	display: flex;
	align-items: center;
	gap: 9px;
} 

.header-user ul li {
	position: relative;
}

.noti-toggle {
	position: absolute;
	background: #fff;
	padding: 23px;
	border-radius: 8px;
	right: 0;
	top: 100%;
	border: 1px solid #DFE0EB;
	width: 151px;
	display: none;
	z-index: 99;
}

.noti-toggle > ul {
	display: flex;
	flex-direction: column; 
	flex-wrap: wrap;
}

.noti-toggle ul li{
	margin-bottom: 12px;
}

.noti-toggle ul li h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #252733;
}

.noti-toggle ul li p {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px; 
	letter-spacing: 0.2px;
	color: #9FA2B4;
}


.search-field-box {
	position: absolute;
	top: 38%;
	right: 0;
	display: none;
}
.search-box {
	font-size: 30px;
	padding: 14px 19px;
	border: 1px solid #C1C1C1;
	background-color: white;
	width: 9.8em;
	border-radius: 10px;
	transition: .2s;
  }
  
  .search-box:hover {
	border-color: #AAAAAA;
  }

  .search-field-box button {
	position: relative;
	background: none;
	border: none;
	padding: 0;
}
  
  .search-box:focus-within {
	border-color: #FF0080;
	box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
  }
  
  .search-field-box input {
	letter-spacing: -0.2px;
	font-size: 30px;
	border: none;
	color: #323232;
	border-radius: 8px;
	padding: 8px 8px 8px 37px;
	border: 1px solid #C1C1C1;
	font-size: 18px;
	vertical-align: 4px; 
	width: 255px;
}
  
  .search-field-box button:hover {
	cursor: pointer;
  }
  
  .search-field-box input:focus {
	outline: none;
  }
  
  .search-field-box input[type='search']::-webkit-search-cancel-button {
	  -webkit-appearance: none;	
  }
  
  .clear:not(:valid) ~ .search-clear {
	  display: none;
  }

  .searc_icon {
	position: absolute;
	top: 16px;
	left: 14px;
	width: 100%;
	height: 100%;
}




/* 
    font-family: "Recoleta-Bold"; 

 */